@import "/apps/mail/css/main.css";
@import "/apps/note/css/main-note.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-app {
  max-width: 1280px;
  min-height: calc(100vh - 6.4em);
}
