@import "./books-app.css";
@import "./book-app.css";
@import "./googlebook-app.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

h1,
h2,
h3,
p {
  padding: 10px;
  margin: 0;
}

.app-footer,
.app-header {
  color: goldenrod;
  padding: 0;
  margin: 0;
  height: 3.2em;
  background-color: #444;
}

.app-footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.app-header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.app-header h1 {
  float: left;
}

.app-header nav {
  padding: 20px;
  float: right;
}

.app-header nav a {
  color: goldenrod;
  text-decoration: none;
}

.books-app,
.book-app,
.googlebook-app,
.about-app {
  min-height: calc(100vh - 6.4em);
}

.googlebook-app .books-app {
  min-height: calc(100vh - 6.4em - 250px);
}
