.mail-app .display .mail-read {
  width: 100%;
  padding: 25px;
  color: #111;
}

.mail-app .display .mail-read > .controls {
  height: 38px;
  margin-block-end: 20px;
}

.mail-app .display .mail-read > .controls > img {
  height: 32px;
  padding: 5px;
  filter: invert(70%);
  margin: 10px;
  border-radius: 50%;
}

.mail-app .display .mail-read > .controls > img:hover {
  filter: invert(100%);
  background-color: silver;
}

.mail-app .display .mail-read > .mail {
  background-color: white;
}

@media screen and (max-width: 740px) {
  .mail-app .display .mail-read > .mail {
    margin: 0px 10px;
    padding: 5px;
  }
  .mail-app .display .mail-read > .mail .subject .title {
    font-size: 1.2em;
    height: 1.4em;
  }
}

@media screen and (min-width: 740px) {
  .mail-app .display .mail-read > .mail {
    margin: 0px 10px;
    padding: 25px;
  }
  .mail-app .display .mail-read > .mail .subject .title {
    font-size: 1.6em;
    height: 2em;
  }
}

.mail-app .display > .mail-read > .mail > .reply > img,
.mail-app .display .mail-read > .mail > img {
  float: left;
  width: 48px;
  border-radius: 50%;
  margin-inline-end: 10px;
  background-color: black;
}

@media screen and (max-width: 740px) {
  .mail-app .display > .mail-read > .mail > .reply > img,
  .mail-app .display .mail-read > .mail > img {
    display: none;
  }
}

.mail-app .display .mail-read > .mail .subject .tags {
  margin: 20px;
  padding: 3px 10px;
  font-size: 0.8em;
  border-radius: 5px;
  color: white;
  background-color: #999;
}

.mail-app .display .mail-read > .mail > p {
  margin-inline-start: 58px;
}

.mail-app .display .mail-read > .mail .from {
  font-size: 1em;
  font-weight: bold;
}

.mail-app .display .mail-read > .mail .to {
  font-size: 0.7em;
}

@media screen and (max-width: 740px) {
  .mail-app .display .mail-read > .mail .to,
  .mail-app .display .mail-read > .mail .from {
    margin: 10px 3px;
  }
}

@media screen and (min-width: 740px) {
  .mail-app .display .mail-read > .mail .from {
    margin: 15px 58px;
  }
  .mail-app .display .mail-read > .mail .to {
    margin: 10px 58px;
  }
}

.mail-app .display .mail-read > .mail .body {
  white-space: pre-line;
  font-size: 0.8em;
  line-height: 1.4em;
}

.mail-app .display .mail-read > .mail .actions {
  margin-top: 50px;
}

.mail-app .display .mail-read > .mail button {
  border: 0;
  padding: 10px;
  box-shadow: inset 0 0 0 1px #dadce0;
  background-color: transparent;
  border-radius: 5px;
  margin-inline-end: 10px;
  transition: 0.3s;
}

.mail-app .display .mail-read > .mail button:hover {
  background-color: rgba(32, 33, 36, 0.059);
}

.mail-app .display .mail-read > .mail button > img {
  float: left;
  height: 22px;
  width: 22px;
}

.mail-app .display .mail-read > .mail .actions button > p {
  margin: 2px 6px;
  float: right;
}

.mail-app .display > .mail-read > .mail > .reply {
  margin-block-start: 20px;
}

.mail-app .display > .mail-read > .mail > .reply > .board {
  display: inline-block;
  padding: 25px;
  transition: border 0.15s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 8px;
  border: 1px solid #dadce0;
}

@media screen and (max-width: 740px) {
  .mail-app .display > .mail-read > .mail > .reply > .board {
    width: 100%;
  }
}

@media screen and (min-width: 740px) {
  .mail-app .display > .mail-read > .mail > .reply > .board {
    width: calc(100% - 70px);
  }
}

.mail-app .display > .mail-read > .mail > .reply > .board:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border: 1px solid transparent;
}

.mail-app .display > .mail-read > .mail > .reply > .board .from {
  margin: 0 0 10px 0;
  font-size: 0.8em;
  font-weight: normal;
  color: silver;
}

.mail-app .display > .mail-read > .mail > .reply > .board label {
  font-size: 0.8em;
  width: 1em;
}

.mail-app .display > .mail-read > .mail > .reply > .board input {
  border: 0;
  width: calc(100% - 32px);
  outline: none;
}

@media screen and (max-width: 740px) {
  .mail-app .display > .mail-read > .mail > .reply > .board input {
    font-size: 0.7em;
  }
}

.mail-app .display > .mail-read > .mail > .reply > .board > img {
  cursor: pointer;
  float: right;
  position: relative;
  top: -15px;
  left: 15px;
  height: 28px;
  width: 28px;
  filter: invert(35%);
}

.mail-app .display > .mail-read > .mail > .reply > .board .from > img {
  height: 16px;
  width: 16px;
  margin-inline-end: 5px;
  position: relative;
  top: 2px;
}

.mail-app .display.flex > .mail-read > .mail .reply .board textarea {
  margin: 0;
  resize: none;
  width: 100%;
  min-height: 180px;
  border: 0;
  outline: none;
  overflow: hidden;
}

.mail-app .display.flex > .mail-read > .mail .reply .board button {
  float: right;
}
