@import "../../../css/helpers.css";
@import "./mail-folderlist.cmp.css";
@import "./mail-fullscreen.cmp.css";
@import "./mail-list.cmp.css";
@import "./mail-compose.cmp.css";

.mail-app {
  margin: 0;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  color: silver;
  background-color: #111;
}
