.mail-compose {
  user-select: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-compose .window {
  position: fixed;
  z-index: 1001;
  bottom: 50px;
  right: 0px;
  height: 50vh;
  width: 60vw;
  font-size: 1em;
  background-color: white;
  min-width: 20vw;
  margin: 0 10vw;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  animation: fadein 0.5s ease-in-out;
}

.mail-compose .window.maximaized {
  height: 80vh;
  width: 80vw;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mail-compose .window .title {
  font-weight: bold;
  background-color: #444;
  width: 100%;
  border-radius: 10px 10px 0 0;
  color: whitesmoke;
  text-align: center;
  padding: 5px 0;
  font-size: 0.8em;
  margin-bottom: 10px;
  height: 4em;
}

.mail-compose .window .title span.text {
  position: relative;
  top: 0.3em;
  float: left;
  text-align: left;
  padding: 8px;
}

.mail-compose .window .title span img {
  cursor: pointer;
  position: relative;
  left: 0.8em;
  height: 2em;
  width: 2em;
}

.mail-compose .window .title span.maximized {
  float: right;
  padding: 8px 0px;
  filter: invert(80%);
}

.mail-compose .window .title span.close {
  cursor: pointer;
  float: right;
  position: relative;
  top: 0.2em;
  font-size: 2em;
  font-weight: bold;
  color: silver;
  width: 2em;
  height: 2em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.mail-compose .window .content div:not(:last-child) {
  padding: 0 5px 2px 2px;
  box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
}

.mail-compose .window.maximaized .content div textarea {
  min-height: calc(80vh - 200px);
}

.mail-compose .window:not(.maximaized) .content div textarea {
  min-height: calc(50vh - 200px);
}

.mail-compose .window .content {
  height: calc(100% - 7em);
}

.mail-compose .window .content div input {
  padding: 5px;
  width: 100%;
  outline: none;
  border: 0;
}

.mail-compose .window .content div textarea {
  resize: none;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 5px;
}

.mail-compose .window .content div:last-child {
  white-space: pre-line;
  height: 100px;
  outline: none;
  padding: 5px;
}

.mail-compose .window .buttons button {
  float: left;
  border: 0;
  padding: 10px;
  box-shadow: inset 0 0 0 1px #dadce0;
  background-color: transparent;
  border-radius: 5px;
  margin-inline-start: 15px;
  transition: 0.3s;
  min-width: 80px;
  font-weight: bold;
}

.mail-compose .window .buttons button:hover {
  background-color: rgba(32, 33, 36, 0.059);
}
