.mail-app .display .mail-list {
  flex-grow: 1;
}

@media screen and (max-width: 740px) {
  .mail-app .display .mail-list {
    font-size: 0.8em;
  }
}

.mail-app .display .mail-list > .search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.7em;
  background-color: white;
  border-radius: 25px;
}

.mail-app .display .mail-list > .search img {
  width: 200px;
  display: block;
}

.mail-app .display .mail-list > .search div:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.mail-app .display .mail-list > .search div {
  background-color: white;
  width: 580px;
  height: 39px;
  border: 1px solid silver;
  border-radius: 25px;
}

.mail-app .display .mail-list > .search svg {
  height: 20px;
  width: 20px;
  opacity: 0.5;
}

.mail-app .display .mail-list > .search input {
  height: 100%;
  width: calc(100% - 70px);
  border: 0;
  font-size: 1.2em;
}

.mail-app .display .mail-list > .search input:focus-visible {
  border: 0;
  outline: none;
}

@media screen and (max-width: 640px) {
  .mail-app .display .mail-list > .search {
    width: 90%;
    margin-inline-start: 5%;
  }
}

@media screen and (min-width: 640px) {
  .mail-app .display .mail-list > .search {
    position: absolute;
    top: 0;
    margin: 25px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    height: 2.7em;
    background-color: white;
    border-radius: 25px;
  }
}

.mail-app .display .mail-list > .controls {
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 1.2em;
  background-color: #444;
  height: 58px;
}

.mail-app .display .mail-list > .controls select,
.mail-app .display .mail-list > .controls button {
  cursor: pointer;
  color: white;
  justify-content: flex-end;
  height: 100%;
  padding: 0 15px;
  border: 0;
  background-color: transparent;
  border-bottom: 5px solid #444;
  outline: none;
}

.mail-app .display .mail-list > .controls select {
  font-size: 0.8em;
}

@media screen and (max-width: 740px) {
  .mail-app .display .mail-list > .controls select {
    /* width: 90px; */
    font-size: 0.6em;
    max-width: 85px;
  }
}

.mail-app .display .mail-list > .controls div,
.mail-app .display .mail-list > .controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  height: 100%;
}

.mail-app .display .mail-list > .controls div {
  position: relative;
  top: -1px;
}

@media screen and (max-width: 720px) {
  .mail-app .display .mail-list > .controls div {
    display: none;
  }
}

.mail-app .display .mail-list > .controls option {
  background-color: #444;
}

.mail-app .display .mail-list > .controls button {
  color: whitesmoke;
  transition: 0.5s;
}

@media screen and (min-width: 720px) {
  .mail-app .display .mail-list > .controls button {
    font-size: 1.5em;
  }
}

.mail-app .display .mail-list > .controls button:hover {
  color: white;
}

.mail-app .display .mail-list > .list {
  width: 100%;
  background-color: black;
}

.mail-app .display .mail-list > .list .preview {
  cursor: pointer;
  border-bottom: 1px solid #333;
  min-height: 3em;
  transition: 0.5s;
}

.mail-app .display .mail-list > .list .preview-extended {
  white-space: pre-line;
  background-color: #111;
  padding: 1em 3em;
}

.mail-app .display .mail-list > .list .preview:first-child {
  border-top: 1px solid #333;
}

.mail-app .display .mail-list > .list .preview.unread {
  color: whitesmoke;
  font-weight: bold;
}

.mail-app .display .mail-list > .list .preview:hover {
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.2),
    inset -1px 0 0 rgba(255, 255, 255, 0.2), 0 0 4px 0 rgba(95, 99, 104, 0.6),
    0 0 6px 2px rgba(95, 99, 104, 0.6);
}

.mail-app .display .mail-list > .list .star {
  padding: 5px;
}

.mail-app .display .mail-list > .list .star > img {
  height: 24px;
}

.mail-app .display .mail-list > .list .content {
  flex-grow: 1;
}

.mail-app .display .mail-list > .list .content.deleted {
  text-decoration: line-through;
}

.mail-app .display .mail-list > .list .date {
  width: 5em;
}

.mail-app .display .mail-list > .list .controls {
  align-items: center;
}

.mail-app .display .mail-list > .list .controls > img {
  opacity: 0.8;
  padding: 5px;
  border-radius: 50%;
  object-fit: cover;
  filter: invert(100%);
}

@media screen and (max-width: 740px) {
  .mail-app .display .mail-list > .list .controls > img {
    height: 28px;
    width: 28px;
    margin: 0 2px;
  }
}

@media screen and (min-width: 740px) {
  .mail-app .display .mail-list > .list .controls > img {
    height: 32px;
    width: 32px;
    margin: 0 5px;
  }
}

.mail-app .display .mail-list > .list .controls > img:hover {
  background-color: rgb(165, 164, 164);
}

.mail-app .display .mail-list > .list .controls > img:last-child {
  margin-inline-end: 1em;
}

.mail-app .display .mail-list .slide-fade-enter-active {
  transition: all 0.8s ease;
}
.mail-app .display .mail-list .slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.mail-app .display .mail-list .slide-fade-enter,
.mail-app .display .mail-list .slide-fade-leave-to {
  transform: translateY(-50%);
  opacity: 0;
}
