.mail-app .display .mail-folder {
  min-width: 255px;
  justify-content: start;
}

.mail-app .display .mail-folder > button {
  cursor: pointer;
  height: 3.8em;
  padding: 10px 24px 10px 15px;
  margin: 0.75em 5em 1.5em 1em;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  border-radius: 2em;
  font-weight: bold;
  border: 0;
}

.mail-app .display .mail-folder > button > img {
  padding-inline-end: 10px;
}

.mail-app .display .mail-folder > button > p {
  font-size: 1.2em;
}

.mail-app .display .mail-folder > div {
  cursor: pointer;
  justify-self: center;
  padding: 0.6em;
  margin: 0.3em 1em 0 1.3em;
  border-radius: 0px 25px 25px 0;
  transition: 0.5s;
}

.mail-app .display .mail-folder > div .title {
  float: left;
}

.mail-app .display .mail-folder > div .number {
  float: right;
}

.mail-app .display .mail-folder > div.selected {
  background-color: #666;
  font-weight: bold;
  color: white;
}

.mail-app .display .mail-folder > div:not(.selected):hover {
  background-color: #f1f3f4;
  color: gray;
}
