@import "../../../css/helpers.css";

.mail-app {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  background-color: #111;
}

.mail-app .display .mail-folder {
  min-width: 255px;
  justify-content: start;
}

.mail-app .display .mail-folder > button {
  cursor: pointer;
  height: 3.8em;
  padding: 10px 24px 10px 15px;
  margin: 0.75em 5em 1.5em 1em;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  border-radius: 2em;
  font-weight: bold;
  border: 0;
}

.mail-app .display .mail-folder > button > img {
  padding-inline-end: 10px;
}

.mail-app .display .mail-folder > button > p {
  font-size: 1.2em;
}

.mail-app .display .mail-folder > div {
  cursor: pointer;
  justify-self: center;
  padding: 0.6em;
  margin: 0.3em 1em 0 1.3em;
  border-radius: 0px 25px 25px 0;
  transition: 0.5s;
}

.mail-app .display .mail-folder > div .title {
  float: left;
}

.mail-app .display .mail-folder > div .number {
  float: right;
}

.mail-app .display .mail-folder > div.selected {
  background-color: #666;
  font-weight: bold;
  color: white;
}

.mail-app .display .mail-folder > div:not(.selected):hover {
  background-color: #f1f3f4;
  color: #333;
}

.mail-app .display .mail-list {
  color: black;
  flex-grow: 1;
}

.mail-app .display .mail-list > .controls {
  height: 3.8em;
}

.mail-app .display .mail-list > .controls button {
  cursor: pointer;
  font-weight: bold;
  margin: 10px 15px 0px 0px;
  height: 2.5em;
  min-width: 8em;
  border: 0;
  border-radius: 2em;
}

.mail-app .display .mail-list > .list {
  width: 100%;
}

.mail-app .display .mail-list > .list .preview {
  cursor: pointer;
  border-bottom: 1px solid #e2e8ea;
  min-height: 3em;
  transition: 0.5s;
}

.mail-app .display .mail-list > .list .preview-extended {
  background-color: whitesmoke;
  padding: 1em 3em;
}

.mail-app .display .mail-list > .list .preview:first-child {
  border-top: 1px solid #e2e8ea;
}

.mail-app .display .mail-list > .list .preview.unread {
  color: whitesmoke;
  background-color: #666;
  font-weight: bold;
}

.mail-app .display .mail-list > .list .preview:not(.preview.unread) {
  background-color: rgba(242, 245, 245, 0.8);
}

.mail-app .display .mail-list > .list .preview:hover {
  transform: scale(101%);
}

.mail-app .display .mail-list > .list .star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
}

.mail-app .display .mail-list > .list .star > img {
  height: 24px;
}

.mail-app .display .mail-list > .list .content {
  flex-grow: 1;
}

.mail-app .display .mail-list > .list .date {
  width: 5em;
}

.mail-app .display .mail-list > .list .controls {
  align-items: center;
}

.mail-app .display .mail-list > .list .controls > img {
  opacity: 0.7;
  margin: 0 7px;
  padding: 5px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.mail-app .display .mail-list > .list .controls > img:hover {
  background-color: #555;
}

.mail-app .display .mail-list > .list .controls > img:last-child {
  margin-inline-end: 1em;
}

.mail-app .display .mail-list .slide-fade-enter-active {
  transition: all 0.8s ease;
}
.mail-app .display .mail-list .slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.mail-app .display .mail-list .slide-fade-enter,
.mail-app .display .mail-list .slide-fade-leave-to {
  transform: translateY(-50%);
  opacity: 0;
}

.mail-app .display .mail-read {
  width: 100%;
  padding: 25px;
}

.mail-app .display .mail-read > .controls {
  background-color: whitesmoke;
  height: 38px;
  margin-block-end: 20px;
}

.mail-app .display .mail-read > .controls > img {
  fill: white;
  margin: 10px;
}

.mail-app .display .mail-read > .mail {
  margin: 0px 10px;
}

.mail-app .display .mail-read > .mail > img {
  float: left;
  width: 48px;
  border-radius: 50%;
  margin-inline-end: 10px;
}

.mail-app .display .mail-read > .mail .subject .title {
  font-size: 1.6em;
  height: 2em;
}

.mail-app .display .mail-read > .mail .subject .tags {
  margin: 20px;
  padding: 3px 10px;
  font-size: 0.8em;
  border-radius: 5px;
  color: black;
  background-color: whitesmoke;
}

.mail-app .display .mail-read > .mail p {
  margin-inline-start: 58px;
  line-height: 1.4em;
}

.mail-app .display .mail-read > .mail .from {
  margin: 15px 58px;
  font-size: 1.2em;
}

.mail-app .display .mail-read > .mail .to {
  margin: 10px 58px;
  font-size: 0.9em;
}
