@font-face {
	font-family: googlefont;
	src: url('../fonts/OpenSans-Medium.ttf');
}

body {
	font-family: google font;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

.main-note {
	margin: auto;
	max-width: 1280px;
}

.add-note-container {
	margin: 20px auto;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	padding: 10px;
	width: 100%;
	max-width: 600px;
	border-radius: 8px;
	border: 1px solid transparent;
	gap: 20px;
	position: relative;
	margin-bottom: 50px;
}

.add-note-container > * {
	margin-block-start: 10px;
	margin-block-end: 10px;
}

/* main input */

.color-input {
	opacity: 0;
	position: absolute;

	cursor: pointer;
	width: 22px;
}

.note-type-btns img {
	cursor: pointer;
}

.add-note-inputs {
	flex-direction: column;
}

.add-note-inputs input {
	border: none;
	outline: none;
}

.pinned-container {
	justify-content: space-between;
}
.add-note-title {
	font-size: 2.5rem;
}

.add-note-text {
	font-size: 1.5rem;
	font-family: googlefont;
}

.submit-btn,
.close-modal-btn {
	border: none;
	background: none;
	font-family: googlefont;
	font-size: 1.5rem;
}

.new-note-toolbar {
	justify-content: space-between;
}

.note-toolbar img {
	color: black;
}

.pinned-note,
.others-note {
	column-count: 6;
	gap: 10px;
	padding: 10px;
	text-align: center;
	gap: 20px;
	margin-inline-end: 20px;
}

.others-note > div {
	margin-block-end: 20px;
}

.note-img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	padding: 15px;
}

.user-note {
	background-color: rgb(232, 234, 237);
	flex-direction: column;
	border-radius: 8px;
	break-inside: avoid-column;
	border: 1px solid #dadce0;
	transition: .3s;
}

.user-note:hover {
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
	border: 1px solid transparent;
}

.user-note .note-toolbar img {
	height: 20px;
}

.user-todo-list {
	text-align: left;
	padding: 0;
}

.user-todo-list {
	list-style: none;
}

.checked {
	text-decoration: line-through;
}

.note-toolbar {
	/* opacity: 0%; */
	transition: opacity .5s;
}

.note-toolbar img {
	cursor: pointer;
}

.note-toolbar:hover {
	opacity: 100%;
}

/*Editor */

.note-editor {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	opacity: 100%;
	padding: 30px;
	background-color: whitesmoke;
}

.note-editor > * :not(:nth-child(3)) {
	margin-block-start: 20px;
}

/*Helpers */

.isshown {
	display: block;
}

.ishide {
	display: none;
}
