.popup-modal {
  user-select: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-modal .window {
  touch-action: none;
  font-size: 1em;
  background-color: whitesmoke;
  min-width: 20vw;
  margin: 0 2vw;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  animation: fadein 0.5s ease-in-out;
  max-width: 90%;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup-modal .window .title {
  font-weight: bold;
  background-color: #666;
  width: 100%;
  border-radius: 10px 10px 0 0;
  color: whitesmoke;
  text-align: center;
  padding: 5px 0;
  font-size: 1em;
  margin-bottom: 10px;
  height: 2em;
}

.popup-modal .window .title span.text {
  display: inline-block;
  width: calc(100% - 3.5em);
  padding-inline-start: 1.75em;
  margin-block-start: 0.1em;
}

.popup-modal .window .title span.close {
  cursor: pointer;
  float: right;
  background: none;
  font-size: 1.625em;
  font-weight: bold;
  color: whitesmoke;
  width: 2em;
  height: 1em;
  border: 0;
  margin-block-start: -0.25em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.popup-modal .window > div:not(.title, .buttons) {
  max-height: calc(80vh - 10em);
  overflow-y: auto;
}

.popup-modal .window .text,
.popup-modal .window form {
  width: 100%;
  text-align: center;
  margin-top: 0;
}

@media screen and (min-width: 740px) {
  .popup-modal .window form.large {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-block-end: 10px;
  }
}

.popup-modal .window form .field {
  min-height: 1.5em;
  width: 100%;
}

.popup-modal .window form img {
  padding: 25px;
  max-width: 150px;
  max-height: 250px;
}

.popup-modal .window form > div {
  margin: 5px 0;
}

.popup-modal .window form > div:not(.doublecol) {
  padding: 0 10px;
}

.popup-modal .window form div.buttons {
  grid-column: 1 / span 2;
}

.popup-modal .window form .doublecol {
  /* padding: 0 0.5%; */
  grid-column: 1 / span 2;
  width: 100%;
}

.popup-modal .window form div .warning {
  color: red;
}

.popup-modal .window form div label {
  float: left;
  font-weight: bold;
  margin-inline-start: 2.5%;
  font-size: 0.9em;
}

.popup-modal .window form div select,
.popup-modal .window form div textarea,
.popup-modal .window form div input:not([type="checkbox"]) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  width: 95%;
}

.popup-modal .window form div input[type="checkbox"] {
  position: relative;
  float: left;
  transform: scale(1.3) translate(5px, -1px);
}

.popup-modal .window form div textarea {
  resize: none;
  height: 6em;
}

.popup-modal .window div.preview {
  color: #333;
}

@media screen and (min-width: 740px) {
  .popup-modal .window div.preview {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}

.popup-modal .window div.preview div.buttons {
  justify-self: end;
  grid-column: 2;
}

.popup-modal .window div.preview > div {
  padding: 10px 25px;
  line-height: 1.3em;
}

@media screen and (min-width: 740px) {
  .popup-modal .window div.preview img {
    max-width: 40vw;
  }
}

@media screen and (max-width: 740px) {
  .popup-modal .window div.preview img {
    float: right;
    width: 40%;
  }
}
.popup-modal .window div.preview img {
  justify-self: right;
  padding: 25px;
  border-radius: 30px;
  grid-row: 1/20;
  grid-column: 2;
}

.popup-modal .window div.preview > div span {
  font-weight: bold;
}

.popup-modal .window .preview div > div.break {
  background-color: red;
}

.popup-modal .window .buttons {
  text-align: center;
  margin: 15px;
}

.popup-modal .window .buttons button {
  border-radius: 10px;
  min-width: 100px;
  font-weight: bold;
  color: whitesmoke;
  padding: 7px;
  border: 0;
  transition: 0.5s;
  opacity: 0.7;
  margin-inline-start: 10px;
}

.popup-modal .window .buttons button:focus,
.popup-modal .window .buttons button:hover {
  transform: scale(105%);
  opacity: 1;
}

.popup-modal .window .buttons .yes {
  cursor: pointer;
  background-color: green;
}

.popup-modal .window .buttons .no {
  cursor: pointer;
  background-color: darkred;
}

/* modal extra styles */
.popup-modal .long-reading::after {
  color: darkred;
  padding-inline-start: 10px;
  font-size: 0.8em;
  content: "< 500 - Long Reading";
}

.popup-modal .descent-reading::after {
  color: darkorange;
  padding-inline-start: 10px;
  font-size: 0.8em;
  content: "< 200 - Descent Reading";
}

.popup-modal .light-reading::after {
  color: darkgreen;
  padding-inline-start: 10px;
  font-size: 0.8em;
  content: "> 100 - Light Reading";
}

.popup-modal .veteran-book::after {
  color: darkred;
  padding-inline-start: 10px;
  font-size: 0.8em;
  content: "Veteran Book";
}

.popup-modal .new-book::after {
  color: darkgreen;
  padding-inline-start: 10px;
  font-size: 0.8em;
  content: "New!";
}

.popup-modal .on-sale::after {
  color: darkred;
  padding-inline-start: 10px;
  font-weight: bold;
  content: ">> HOT SALE !!!";
}
